<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="디붕이네 공장"/>
    <meta property="og:description" content="응원 한마디 남기고 가세요!"/>
    <meta property="og:image" content="http://cdn.ggilbo.com/news/photo/202211/943475_776489_67.png"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <title>디붕이네 공장</title>

    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap"
          rel="stylesheet">
    <style>
        * {
            font-family: 'Noto Serif KR', serif;
        }

        .mypic {
            width: 100%;
            height: 300px;

            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkqVS_dcLfyE2KWFNoP3nu3HxiDSKKkcToXQ&usqp=CAU');
            background-position: center 40%;
            background-size: cover;

            color: white;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .content {
            width: 100%;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        .left {
            width: 95%;
            margin: 20px;
        }

        .left > form {
            padding: 20px;
            box-shadow: 0 0 3px 0 black;
        }

        .right {
            width: 95%;
            margin: 20px;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .right > table {
            margin-top: 20px;
            box-shadow: 0 0 3px 0 black;
        }
    </style>
    <script>
        <!-- 테이블의 순서대로 가격 매길 예정, 0:고대 유물 ~ 12:최상급 오레하   -->
        let price = new Array(13)
        let user_data = new Array(5)

        $(document).ready(function () {
            set_temp()
            set_price()
        })

        function set_temp() {
            $.ajax({
                type: "GET",
                url: "http://spartacodingclub.shop/sparta_api/weather/seoul",
                data: {},
                success: function (response) {
                    $('#temp').text(response['temp'])
                }
            })
        }

        function set_price() {
            $.ajax({
                type: "GET",
                url: "/today_price",
                data: {},
                beforeSend: function () {
                    //마우스 커서를 로딩 중 커서로 변경
                    $('html').css("cursor", "wait");
                },
                complete: function () {
                    //마우스 커서를 원래대로 돌린다
                    $('html').css("cursor", "auto");
                },
                success: function (response) {
                    let rows = response['daily_price'][0]
                    for(let i=0; i<price.length; i++){
                        let str = '#price_'+i
                        price[i] = rows[i]
                        $(str).text(price[i])
                    }
                }
            })
        }

        function save_user() {

            for (let i = 0; i < user_data.length; i++) {
                let string = '#user_data_' + i

                if (i == 0) {
                    user_data[i] = $(string).val()
                } else {
                    user_data[i] = Number($(string).val())
                    if (isNaN(user_data[i])) {
                        alert('숫자만 입력해주세요.')
                        $(string).val("")
                        $(string).focus()
                        return
                    }

                    if (user_data[i] == '') {
                        user_data[i] = 0
                        $(string).val("0")
                    }
                }
            }

            $.ajax({
                type: "POST",
                url: "/save_user",
                data: {data_give: user_data},
                success: function (response) {
                    alert(response['msg'])
                }
            })
        }

        function load_user() {
            let user_name = $('#user_data_0').val()

            $.ajax({
                type: "POST",
                url: "/load_user",
                data: {data_give: user_name},
                success: function (response) {
                    let rows = response['user_data']

                    if (typeof rows == "string") {
                        alert(rows)
                    } else {
                        alert('영지 정보 로드 완료')

                        for (let i = 0; i < user_data.length; i++) {
                            let str = '#user_data_' + i

                            if (i == 0) {
                                user_data[i] = rows[0][i]
                            } else {
                                user_data[i] = Number(rows[0][i])
                            }

                            $(str).val(user_data[i])
                        }
                    }
                }
            })
        }

        function crawling() {

            $.ajax({
                type: "GET",
                url: "/crawling",
                data: {},
                beforeSend: function () {
                    //마우스 커서를 로딩 중 커서로 변경
                    $('html').css("cursor", "wait");
                },
                complete: function () {
                    //마우스 커서를 원래대로 돌린다
                    $('html').css("cursor", "auto");
                },
                success: function (response) {
                    alert('최저가 검색 완료')
                    for (let i = 0; i < response['price_list'].length; i++) {
                        price[i] = response['price_list'][i]
                        let price_name = '#price_' + i
                        $(price_name).text(price[i])
                    }
                }
            })
        }

        function modify() {
            for (let i = 0; i < 9; i++) {
                let input_name = '#input_' + i
                let price_name = '#price_' + i
                if ($(input_name).val().length != 0) {
                    $(price_name).text($(input_name).val())
                    price[i] = Number($(input_name).val())
                }
            }
        }

        function modify2() {
            for (let i = 9; i < 13; i++) {
                let input_name = '#input_' + i
                let price_name = '#price_' + i
                if ($(input_name).val().length != 0) {
                    $(price_name).text($(input_name).val())
                    price[i] = Number($(input_name).val())
                }
            }
        }
    </script>
</head>
<body>
<div class="mypic">
    <h1>디붕이네 공장</h1>
    <p>현재기온: <span id="temp">36</span>도</p>
    <p>크롤링 연습합니다.</p>
    <button onclick="crawling()" type="button" class="btn btn-dark">크롤링</button>
</div>
<div class="content">
    <div class="left">
        <div class="content">
            <div class="left">
                <form class="row g-3">
                    <div class="col-12" style="text-align: center">
                        <h1>영지 정보</h1>
                    </div>
                    <div class="col-12">
                        <label for="user_data_0" class="form-label">닉네임</label>
                        <input type="text" class="form-control" id="user_data_0" placeholder="꼭 닉네임 아니어도 되긴함.">
                    </div>
                    <div class="col-12" style="text-align: center">
                        <button onclick="load_user()" type="button" class="btn btn-primary">불러오기</button>
                    </div>
                    <div class="col-12">
                    </div>
                    <div class="col-md-6">
                        <label for="user_data_1" class="form-label">활동력 회복량</label>
                        <input type="text" class="form-control" id="user_data_1" placeholder="숫자만 기입">
                    </div>
                    <div class="col-md-6">
                        <label for="user_data_2" class="form-label">활동력 소모량 감소</label>
                        <input type="text" class="form-control" id="user_data_2" placeholder="숫자만 기입">
                    </div>
                    <div class="col-md-6">
                        <label for="user_data_3" class="form-label">비용 감소</label>
                        <input type="text" class="form-control" id="user_data_3" placeholder="숫자만 기입">
                    </div>
                    <div class="col-md-6">
                        <label for="user_data_4" class="form-label">시간 감소</label>
                        <input type="text" class="form-control" id="user_data_4" placeholder="숫자만 기입">
                    </div>
                    <div class="col-12" style="text-align: center">
                        <button onclick="save_user()" type="button" class="btn btn-primary">저장하기</button>
                    </div>
                </form>
            </div>
            <div class="right">
                <div>
                    <button onclick="crawling()" type="button" class="btn btn-dark">최저가 가져오기</button>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">재료</th>
                        <th scope="col">가격</th>
                        <th scope="col">수정</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="table-light">
                        <th scope="row">
                            <img width="25" src="https://cdn-lostark.game.onstove.com/EFUI_IconAtlas/Use/Use_9_3.png"/>
                        </th>
                        <td>고대 유물</td>
                        <td id="price_0"></td>
                        <td><input id="input_0" style="width: 55px; height: 25px;" type="text" class="form-control">
                        </td>
                    </tr>
                    <tr class="table-success">
                        <th scope="row">
                            <img width="25" src="https://cdn-lostark.game.onstove.com/EFUI_IconAtlas/Use/Use_9_4.png"/>
                        </th>
                        <td>희귀한 유물</td>
                        <td id="price_1"></td>
                        <td><input id="input_1" style="width: 55px; height: 25px;" type="text" class="form-control">
                        </td>
                    </tr>
                    <tr class="table-primary">
                        <th scope="row">
                            <img width="25" src="https://cdn-lostark.game.onstove.com/EFUI_IconAtlas/Use/Use_9_11.png"/>
                        </th>
                        <td>오레하 유물</td>
                        <td id="price_2"></td>
                        <td><input id="input_2" style="width: 55px; height: 25px;" type="text" class="form-control">
                        </td>
                    </tr>
                    <tr class="table-light">
                        <th scope="row">
                            <img width="25"
                                 src="https://cdn-lostark.game.onstove.com/EFUI_IconAtlas/Use/Use_1_142.png"/>
                        </th>
                        <td>생선</td>
                        <td id="price_3"></td>
                        <td><input id="input_3" style="width: 55px; height: 25px;" type="text" class="form-control">
                        </td>
                    </tr>
                    <tr class="table-success">
                        <th scope="row">
                            <img width="25" src="https://cdn-lostark.game.onstove.com/EFUI_IconAtlas/Use/Use_8_72.png"/>
                        </th>
                        <td>자연산 진주</td>
                        <td id="price_4"></td>
                        <td><input id="input_4" style="width: 55px; height: 25px;" type="text" class="form-control">
                        </td>
                    </tr>
                    <tr class="table-primary">
                        <th scope="row">
                            <img width="25" src="https://cdn-lostark.game.onstove.com/EFUI_IconAtlas/Use/Use_8_74.png"/>
                        </th>
                        <td>오레하 태양 잉어</td>
                        <td id="price_5"></td>
                        <td><input id="input_5" style="width: 55px; height: 25px;" type="text" class="form-control">
                        </td>
                    </tr>
                    <tr class="table-light">
                        <th scope="row">
                            <img width="25"
                                 src="https://cdn-lostark.game.onstove.com/EFUI_IconAtlas/Use/Use_2_192.png"/>
                        </th>
                        <td>두툼한 생고기</td>
                        <td id="price_6"></td>
                        <td><input id="input_6" style="width: 55px; height: 25px;" type="text" class="form-control">
                        </td>
                    </tr>
                    <tr class="table-success">
                        <th scope="row">
                            <img width="25"
                                 src="https://cdn-lostark.game.onstove.com/EFUI_IconAtlas/Use/Use_2_204.png"/>
                        </th>
                        <td>질긴 가죽</td>
                        <td id="price_7"></td>
                        <td><input id="input_7" style="width: 55px; height: 25px;" type="text" class="form-control">
                        </td>
                    </tr>
                    <tr class="table-primary">
                        <th scope="row">
                            <img width="25" src="https://cdn-lostark.game.onstove.com/EFUI_IconAtlas/Use/Use_8_67.png"/>
                        </th>
                        <td>오레하 두툼한...</td>
                        <td id="price_8"></td>
                        <td><input id="input_8" style="width: 55px; height: 25px;" type="text" class="form-control">
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div>
                    <button onclick="modify()" type="button" class="btn btn-primary">가격 수정하기</button>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">재료</th>
                        <th scope="col">가격</th>
                        <th scope="col">수정</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="table-success">
                        <th scope="row">
                            <img width="25" src="https://cdn-lostark.game.onstove.com/EFUI_IconAtlas/Use/Use_9_70.png"/>
                        </th>
                        <td>하급 오레하</td>
                        <td id="price_9"></td>
                        <td><input id="input_9" style="width: 55px; height: 25px;" type="text" class="form-control">
                        </td>
                    </tr>
                    <tr class="table-primary">
                        <th scope="row">
                            <img width="25" src="https://cdn-lostark.game.onstove.com/EFUI_IconAtlas/Use/Use_9_71.png"/>
                        </th>
                        <td>중급 오레하</td>
                        <td id="price_10"></td>
                        <td><input id="input_10" style="width: 55px; height: 25px;" type="text" class="form-control">
                        </td>
                    </tr>
                    <tr class="table-danger">
                        <th scope="row">
                            <img width="25"
                                 src="https://cdn-lostark.game.onstove.com/EFUI_IconAtlas/Use/Use_8_109.png"/>
                        </th>
                        <td>상급 오레하</td>
                        <td id="price_11"></td>
                        <td><input id="input_11" style="width: 55px; height: 25px;" type="text" class="form-control">
                        </td>
                    </tr>
                    <tr class="table-info">
                        <th scope="row">
                            <img width="25"
                                 src="https://cdn-lostark.game.onstove.com/EFUI_IconAtlas/Use/Use_11_29.png"/>
                        </th>
                        <td>최상급 오레하</td>
                        <td id="price_12"></td>
                        <td><input id="input_12" style="width: 55px; height: 25px;" type="text" class="form-control">
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div>
                    <button onclick="modify2()" type="button" class="btn btn-primary">가격 수정하기</button>
                </div>
            </div>
        </div>
    </div>
    <div class="right">
        <h1>디붕이네 공장</h1>
    </div>
</div>
</body>
</html>